body {
  font-family: Arial, sans-serif;
  background: #100e0e;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ff9800;
}

.card {
  background: white;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100px;
  border-radius: 50%;
}

.error {
  color: red;
  margin-top: 10px;
}


h1{
  color: white;
}